extends layout
block content
	ul(class="nav nav-tabs")
		li(role="presentation")
			a(href="/") New
		li(role="presentation" class="active")
			a(href="/popular" ) Popular
		li(role="presentation")
			a(href="/followedTag") Followed Tags
	- for (var i = 0; i < rows.length; ++i) {
			div(class="thumbnail")
				div(class="caption")
					div(class="row")
						div(class="col-md-1")
							if rows[i].total_like < 0
								h3(class="score-down point")
									strong #{rows[i].total_like}
							else
								h3(class="score-up point") 
									strong #{rows[i].total_like}
						div(class="col-md-11")
							a(href="/question:#{rows[i].post_id}")
								h4(class = "question-ad") #{rows[i].title}
							div(class="view-number")
								span(class="glyphicon glyphicon-eye-open" aria-hidden="true")
								h7  #{rows[i].number_of_views}
							div(class="view-number")
								span(class="glyphicon glyphicon-time" aria-hidden="true")
								h7  #{rows[i].ask_timestamp.toUTCString()}
							div(class="view-author")
								span(class="glyphicon glyphicon-user" aria-hidden="true")
								h7  #{rows[i].user_name}
	- }


