extends layout
block content
	div(class="row")
			div(class = "col-md-9")
				h2 Questions(#{questions.length})
				div(class="list-group")
				- for(var i =0; i < questions.length; ++i){
					a(href="/question:#{questions[i].post_id}" class = "list-group-item") 
						h4 <strong>#{questions[i].title}</strong> 
						p #{questions[i].text}
				- }

				h2 Answers(#{ answers.length})
				div(class="list-group")
				- for(i =0; i < answers.length; ++i){
					a(href="/question:#{answers[i].parent_id}" class = "list-group-item") 
						p #{answers[i].text}
				- }
				h2 Favorite Questions(#{favourite.length})
				div(class="list-group")
				- for(i = 0; i < favourite.length; ++i){
					a(href="/question:#{favourite[i].post_id}" class = "list-group-item") 
						h4 <strong>#{favourite[i].title}</strong> 
						p #{favourite[i].text}
				- }
					
			div(class = "col-md-3")
				h4 Reputation: #{reputation[0].reputation} Points
				div(class="panel panel-primary")
					div(class="panel-heading") Badges
					div(class="panel-body")
						- for(i = 0; i < badges.length; ++i){
							if badges[i].badgeType == 'Epic'
								button(type="button" class="btn btn-primary btn-lg btn-block") #{badges[i].badgeName}
							if badges[i].badgeType == 'Rare'
								button(type="button" class="btn btn-success btn-lg btn-block") #{badges[i].badgeName}
							if badges[i].badgeType == 'Legendary'
								button(type="button" class="btn btn-danger btn-lg btn-block") #{badges[i].badgeName}
						- }
				h2 Followed Tags(#{tags.length})
					- for(i = 0; i < tags.length; ++i){
						<button type="button" class="btn btn-default"> #{tags[i].name} </button>
					- }
