extends layout
block content
	ul(class="nav nav-tabs")
		li(role="presentation")
			a(href="/#") New
		li(role="presentation")
			a(href="/popular") Popular
		li(role="presentation")
			a(href="/followedTag") Followed Tags
		li(role="presentation" class="active")
			a(href="/statistics") Statistics	
	h3 5 Users With Most Reputation Points
	- for (var i = 0; i < highestRepPeople.length; ++i) {
			div(class="thumbnail")
				div(class="caption")
					div(class="row")
						div(class="col-md-1")
							h4 Username:#{highestRepPeople[i].user_name} Reputation:#{highestRepPeople[i].rep}							
	- }

	h3 People With More Than 10 Post
	- for (var i = 0; i < poster.length; ++i) {
			div(class="thumbnail")
				div(class="caption")
					div(class="row")
						div(class="col-md-1")
							h4 Username:#{poster[i].user_name} #Post:#{poster[i].Count}							
	- }

	h3 Most Liked Questions
	- for (var i = 0; i < avgPost.length; ++i) {
			div(class="thumbnail")
				div(class="caption")
					div(class="row")
						div(class="col-md-1")
							if avgPost[i].total_like < 0
								h3(class="score-down point")
									strong #{avgPost[i].total_like}
							else
								h3(class="score-up point") 
									strong #{avgPost[i].total_like}
						div(class="col-md-11")
							a(href="/question:#{avgPost[i].post_id}")
								h4(class = "question-ad") #{avgPost[i].title}	
	- }
